@import '@/assets/css/color-scheme.css';

#skills-section {
    @apply flex items-center justify-center h-screen;
}

.skills-inner {
    @apply w-10/12 h-full flex flex-col items-center gap-10 justify-center;
}

.skills-inner .section-title {
    @apply text-primary
}

.skills-inner .section-title span {
    @apply text-teal-color;
    font-family: 'Poppins', sans-serif !important;
}

.skills-inner .skills-list-container {
    @apply flex flex-col gap-10 w-full
}

.skills-inner .skills-list-container .skills-categories {
    @apply flex justify-center;
}

.skills-inner .skills-list-container .skills-categories .category-list {
    @apply flex items-center gap-3 font-semibold text-lg sm:text-xl;
}

.skills-inner .skills-list-container .skills-categories .category-list .category-item {
    @apply cursor-pointer p-2 px-3 transition-colors duration-300 hover:bg-teal-dark hover:text-white rounded-md text-primary text-nowrap;
}

.skills-inner .skills-list-container .skills-categories .category-list .category-item.active {
    @apply bg-teal rounded-md hover:bg-teal-dark text-white;
}

.skills-inner .skills-list-container .skills-list-wrapper {
    @apply relative h-auto mb-25 overflow-x-clip
}

.skills-inner .skills-list-container .skills-list {
    @apply grid gap-5 justify-center items-stretch;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.tech {
    @apply absolute w-full -left-[125%] transition-all duration-400 overflow-y-auto max-h-100 py-3;
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.tech::-webkit-scrollbar {
    @apply w-1.5;
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.tech::-webkit-scrollbar-thumb {
    @apply rounded-full bg-teal-dark;
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.soft {
    @apply absolute w-full left-[125%] transition-all duration-400 overflow-y-auto max-h-100 py-3;
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.soft::-webkit-scrollbar {
    @apply w-1.5;
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.soft::-webkit-scrollbar-thumb {
    @apply rounded-full bg-teal-dark;
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.tech.active {
    @apply absolute w-full left-0
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.soft.active {
    @apply absolute w-full left-0
}

.skills-inner .skills-list-container .skills-list-wrapper .skills-list-wrapper-inner.soft .skill-item {
    @apply h-20
}

.skills-inner .skills-list-container .skills-list .skill-item {
    @apply flex items-center gap-5 p-3 px-5 hover:bg-secondary-background hover:scale-105 rounded-md transition-all duration-300 min-w-[250px] text-primary shadow-md bg-secondary-background;
    outline: 1px solid transparent;
}

.skills-list .skill-item .skill-icon {
    @apply overflow-hidden flex items-center justify-center min-w-[70px] w-15 h-16 rounded-md;
}

.skills-list .skill-item .skill-icon img {
    @apply w-full h-full object-contain;
}

.skill-item .skill-body .experience {
    @apply text-secondary text-sm sm:text-base;
}

@media(max-width: 807px) {
    .skills-inner .skills-list-container .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
    }

    .skills-inner .skills-list-container .skills-list .skill-item {
        @apply p-2 gap-3
    }

    .skills-list .skill-item .skill-icon {
        @apply overflow-hidden flex items-center justify-center min-w-[50px] w-16 h-16 rounded-md;
    }

    .skills-inner .skills-list-container .skills-list .skill-item .skill-body h6 {
        @apply text-base
    }
}

@media(max-width: 737px) {

    .skills-inner .skills-list-container .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    }

    .skills-inner .skills-list-container .skills-list .skill-item {
        @apply p-2 gap-3
    }

    .skills-list .skill-item .skill-icon {
        @apply overflow-hidden flex items-center justify-center min-w-[50px] w-16 h-16 rounded-md;
    }

    .skills-inner .skills-list-container .skills-list .skill-item .skill-body h6 {
        @apply text-base
    }
}

@media(max-width: 661px) {
    .skills-inner .skills-list-container .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 15rem));
    }
}