@import 'tailwindcss';
@import '@/assets/css/color-scheme.css';
@import '@/assets/css/header.css';
@import '@/assets/css/footer.css';
@import '@/assets/css/home.css';
@import '@/assets/css/color-scheme.css';
@import '@/assets/css/skills.css';
@import '@/assets/css/tools.css';
@import '@/assets/css/connect.css';
@import '@/assets/css/projects.css';
@import '@/assets/css/login.css';
@import '@/assets/css/admin-dashboard.css';
@import '@/assets/css/sidebar.css';

@layer base {
    html {
        scroll-behavior: smooth;
    }

    * {
        font-family: 'Inter', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold uppercase;
        font-family: 'Poppins', sans-serif !important;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl sm:text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    body {
        @apply bg-primary-background text-primary h-screen overflow-x-hidden;
    }

}

.main-container {
    @apply relative py-10 md:pt-0
}

.btn {
    @apply w-fit mt-5 rounded-md px-4 py-2 transition-colors duration-300 font-semibold;
}

.nav-item-list, .social-link-list {
    list-style: none;
}

.input-wrapper {
    @apply flex items-center justify-center border-3 border-[var(--teal-color)] rounded-sm p-3 pt-4 relative hover:border-[var(--teal-color-dark)]
}

.input-wrapper:focus-within {
    box-shadow: 0 0 10px var(--teal-color-dark);
}

.input-wrapper input, .input-wrapper textarea {
    @apply outline-0 border-0 w-full;
    resize: none;
}

.input-wrapper textarea {
    @apply h-25
}

.input-wrapper textarea::-webkit-scrollbar {
    @apply w-1.5
}

.input-wrapper:hover textarea::-webkit-scrollbar-thumb {
    @apply bg-teal rounded-full
}

.input-wrapper label {
    @apply absolute left-3 top-3.5 transition-all duration-200 text-gray-500
}

.input-wrapper:focus-within label, .input-wrapper input:valid ~ label, .input-wrapper textarea:valid ~ label {
    @apply top-1 text-xs text-teal-color
}

.btn .fa-spinner {
    @apply animate-spin
}

.alert {
    @apply w-full p-3
}

.alert.alert-danger {
    @apply bg-red-100 border border-red-400 text-red-700 rounded-md
}

.alert.alert-success {
    @apply bg-green-100 border border-green-400 text-green-700 rounded-md
}